@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:#5b2901;
  /* background-image: url('../public/bg.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto
}

header{
  z-index: 99;
  /* background-color: blue; */
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1600px;
  min-width: 420px;
  width: 100%;
  height: calc(100vh);
  margin: 0 auto;
  background: linear-gradient(to right, #1E3E62, #892b02, #FF6500);
  /* background-color: green !important; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
}
.container2{
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  min-width: 420px;
}

.attri{
  /* background: #022e1010; */
  backdrop-filter: blur(0.9rem);
  border: 1px solid rgb(186, 195, 240);
}

.description_character{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title_character, .race_character, .k1, .k2, .gender{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.character__image{
  animation: move-character 1s infinite alternate ease-in-out;
}

@keyframes move-character {
  0% {
    transform: translateY(-20px)
  }
  100%{
    transform: translateY(20px);
  }
}

@media (max-width:1024px){
  .container{
    max-width: 1500px;
    min-width: 420px;
    max-height: 8500px;
    min-height: 100vh;
    height: auto;
  }
}

@media (max-width:768px){
  .container{
    height: auto !important;
  }
  .k1, .k2, .gender{
    font-size: 13px;
  }
}

.spinner {
  margin: 100px auto;
  width: 90px;
  height: 90px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.title_character, .race_character, .k1, .k2, .gender{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}