@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1500px;
  min-width: 420px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  max-height: 900px;
  background: linear-gradient(to right, #0a161f, #892b02, #FF7202);
  /* background-image: url('../public/bg.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.attri{
  /* background: #022e1010; */
  backdrop-filter: blur(0.9rem);
  border: 1px solid rgb(186, 195, 240);
}

.description_character{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title_character, .race_character, .k1, .k2, .gender{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.character__image{
  animation: move-character 1s infinite alternate ease-in-out;
}

@keyframes move-character {
  0% {
    transform: translateY(-20px)
  }
  100%{
    transform: translateY(20px);
  }
}

@media (max-width:1024px){
  .container{
    max-width: 1500px;
    min-width: 420px;
    max-height: 6000px;
}

@media (max-width:768px){
  }
  .k1, .k2, .gender{
    font-size: 13px;
  }
}